*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* background image style*/
header{
    background-image: url(/images/banner/banner1.png);
    background-repeat: no-repeat;
    background-image: cover;
}
/*background image style end*/

/*Header title-description-button style*/
.header-title-description{
    padding: 250px 150px 200px 750px;
    text-align: right;
}
.header-title{
    color: #151414;
    font-weight: 700;
    font-size: 55px;
}
.header-description{
    color: #444343;
    font-weight: 400;
    font-size: 18px;
    padding: 10px 0;
}
.btn-primary{
    width: 160px;
    height: 64px;
    background: #F15B22;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}
/*Header title-description-button style end*/

/* About section style start*/
.person{
    display: flex;
    gap: 70px;
}
.person-picture{
    padding: 100px 0px 100px 150px;
    width: 569px;
}
.person-about{
    padding: 300px 100px 50px 0;
}
.about-title{
    color: #151414;
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 24px;

}
span{
    color:#F15B22;
    font-size: 1.5rem;
}
.about-description{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 16px;
}
.sub-description{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    padding: 5px 0;
}
/*about section style end*/

/*plan section style*/
.plan-content{
    display: flex;
    gap: 65px;
    padding: 0 200px;
    text-align: center;
}
.plan-title{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-bottom: 60px;
}
.plan-sub-title{
    font-weight: 700;
    font-size: 25px;
    color: #151414;
    padding: 15px 0;
}
.plan-description{
    font-weight: 500;
    font-size: 20px;
    color: #737272;
}
/*plan secttion style end*/

/*my skill styles*/
.title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
    margin: 50px 0;
}
.success img{
    padding: 20px;
}
.success-container{
    display: flex;
    gap: 24px;
    padding: 0 200px;
}
.success{
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.success-title{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}
.success-description{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

/*bos style start*/
.box-header{
    background-image: linear-gradient(to right, orange, yellow);
    margin: 100px 200px;
    background-size: cover;
    padding: 40px 60px 40px 100px;
    border-radius: 10px;

}
.box-text{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.btn-box{
    color: #F15B22;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
}
/*box style end*/

/*footer style start*/
.footer-content{
    display: flex;
    background: #151414;
    padding: 100px 150px;
    gap: 300px;
}
.btn-footer{
    width: 160px;
    height: 64px;
    color: #F15B22;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}
.footer-title{
    font-weight: 700;
font-size: 45px;
color: #F8F8F8;
padding-bottom: 25px;
}
.footer-des{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.footer-des-one{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 25px 0;
}
.footer-des-two{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 25px;
}
.footer-title-one{
    font-weight: 600;
    font-size: 25px;
    color: #F8F8F8;
    padding-bottom: 20px;
}
.email{
    background-color: #151414;
    padding: 18px;
    color: #F8F8F8;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
}
.footer-content img{
    padding-right: 20px;
}
/*footer style end*/